%link{:href => "https://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet", :type => "text/css"}
.row.justify-content-center
  .col-md-3
    .card.p-3.card-welcome-page
      %h1.main-title
        BabyBook
      %h5.h5-welcome-page
        %i The baby diary
        %br
        %i for parents
      %p
        = button_to "Entrar", new_session_path, method: :get
