%link{:href => "https://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet", :type => "text/css"}
.container-fluid
  .row
    .col
    .col-lg-.wide
      %h1.main-title BabyBook
    .col
  .row
    .col
    .col-lg-.center
      %h5
        %i The baby diary for parents
    .col
  .row
    .col
    .col-lg-.center
      = button_to "Entrar", new_session_path, method: :get
    .col
  .row
    .col
    .col-lg-.center

    .col
