%nav.navbar.page-header
  %a.btn.btn-link.sidebar-mobile-toggle.mr-auto{:href => "#"}
    %i.fa.fa-bars
  =image_tag('baby.png', class: 'logo')
  %ul.navbar-nav.ml-auto
    %li.nav-item.d-md-down-none
      %a{:href => "#"}
        %i.fa.fa-bell
        %span.badge.badge-pill.badge-danger 5
    %li.nav-item.d-md-down-none
      %a{:href => "#"}
        %i.fa.fa-envelope-open
        %span.badge.badge-pill.badge-danger
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        %span.medium.ml-1.d-md-down-none #{me.full_name}
      .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
        %a.dropdown-item{:href => edit_user_path(session[:user_id])}
          %i.fa.fa-user
          Perfil
        %a.dropdown-item{:href => "#"}
          %i.fa.fa-stethoscope
          Revisiones
        %a.dropdown-item{:href => close_session_path}
          %i.fa.fa-door-open
          Salir

