.sidebar.primary
  %nav.sidebar-nav
    %ul.nav
      %li.nav-title
        = "Bebé seleccionado: #{Baby.find_by(id: session[:baby_id])&.name || 'ninguno'}"
      %li.nav-item
        %a.nav-link.active{:href => babies_path}
          %i.fas.fa-child
          Mi bebe
      %li.nav-item
        %a.nav-link.active{:href => feeds_path }
          %i.fas.fa-utensils
          Tomas
      %li.nav-item
        %a.nav-link.active{:href => measures_path }
          %i.fas.fa-ruler
          Peso y altura
      %li.nav-item
        %a.nav-link.active{:href => checkups_path}
          %i.far.fa-calendar-alt
          Revisiones
      %li.nav-item
        %a.nav-link.active{:href => vaccines_path}
          %i.fas.fa-syringe
          Vacunas
      -if current_user.is_admin?
        %li.nav-item
          %a.nav-link.active{:href => control_index_path}
            %i.fas.fa-toolbox
            Panel de control
      %li.nav-item
        %a.nav-link.active{:href => close_session_path }
          %i.fas.fa-door-open
          Salir




        -# %li.nav-item.nav-dropdown
        -#   %a.nav-link.nav-dropdown-toggle{:href => "#"}
        -#     %i.icon.icon-energy
        -#     Peso y altura
        -#     %i.fa.fa-caret-left
        -#   %ul.nav-dropdown-items
        -#     %li.nav-item
        -#       %a.nav-link{:href => "alerts.html"}
        -#         %i.icon.icon-energy
        -#         Alerts
        -#     %li.nav-item
        -#       %a.nav-link{:href => "buttons.html"}
        -#         %i.icon.icon-energy
        -#         Buttons
        -#     %li.nav-item
        -#       %a.nav-link{:href => "cards.html"}
        -#         %i.icon.icon-energy
        -#         Cards
        -#     %li.nav-item
        -#       %a.nav-link{:href => "modals.html"}
        -#         %i.icon.icon-energy
        -#         Modals
        -#     %li.nav-item
        -#       %a.nav-link{:href => "tabs.html"}
        -#         %i.icon.icon-energy
        -#         Tabs
        -#     %li.nav-item
        -#       %a.nav-link{:href => "progress-bars.html"}
        -#         %i.icon.icon-energy
        -#         Progress Bars
        -#     %li.nav-item
        -#       %a.nav-link{:href => "widgets.html"}
        -#         %i.icon.icon-energy
        -#         Widgets
        -# %li.nav-item.nav-dropdown
        -#   %a.nav-link.nav-dropdown-toggle{:href => "#"}
        -#     %i.icon.icon-energy
        -#     Chequeos
        -#     %i.fa.fa-caret-left
        -#   %ul.nav-dropdown-items
        -#     %li.nav-item
        -#       %a.nav-link{:href => "alerts.html"}
        -#         %i.icon.icon-energy
        -#         Alerts
        -#     %li.nav-item
        -#       %a.nav-link{:href => "buttons.html"}
        -#         %i.icon.icon-energy
        -#         Buttons
        -#     %li.nav-item
        -#       %a.nav-link{:href => "cards.html"}
        -#         %i.icon.icon-energy
        -#         Cards
        -#     %li.nav-item
        -#       %a.nav-link{:href => "modals.html"}
        -#         %i.icon.icon-energy
        -#         Modals
        -#     %li.nav-item
        -#       %a.nav-link{:href => "tabs.html"}
        -#         %i.icon.icon-energy
        -#         Tabs
        -#     %li.nav-item
        -#       %a.nav-link{:href => "progress-bars.html"}
        -#         %i.icon.icon-energy
        -#         Progress Bars
        -#     %li.nav-item
        -#       %a.nav-link{:href => "widgets.html"}
        -#         %i.icon.icon-energy
        -#         Widgets
        -# %li.nav-item.nav-dropdown
        -#   %a.nav-link.nav-dropdown-toggle{:href => "#"}
        -#     %i.icon.icon-graph
        -#     Vacunas
        -#     %i.fa.fa-caret-left
        -#   %ul.nav-dropdown-items
        -#     %li.nav-item
        -#       %a.nav-link{:href => "chartjs.html"}
        -#         %i.icon.icon-graph
        -#         Chart.js
        -# %li.nav-item
        -#   %a.nav-link{:href => "forms.html"}
        -#     %i.icon.icon-puzzle
        -#     Forms
        -# %li.nav-item
        -#   %a.nav-link{:href => "tables.html"}
        -#     %i.icon.icon-grid
        -#     Tables
        -# %li.nav-title More
        -# %li.nav-item.nav-dropdown
        -#   %a.nav-link.nav-dropdown-toggle{:href => "#"}
        -#     %i.icon.icon-umbrella
        -#     Pages
        -#     %i.fa.fa-caret-left
        -#   %ul.nav-dropdown-items
        -#     %li.nav-item
        -#       %a.nav-link{:href => "blank.html"}
        -#         %i.icon.icon-umbrella
        -#         Blank Page
        -#     %li.nav-item
        -#       %a.nav-link{:href => "login.html"}
        -#         %i.icon.icon-umbrella
        -#         Login
        -#     %li.nav-item
        -#       %a.nav-link{:href => "register.html"}
        -#         %i.icon.icon-umbrella
        -#         Register
        -#     %li.nav-item
        -#       %a.nav-link{:href => "invoice.html"}
        -#         %i.icon.icon-umbrella
        -#         Invoice
        -#     %li.nav-item
        -#       %a.nav-link{:href => "404.html"}
        -#         %i.icon.icon-umbrella
        -#         404
        -#     %li.nav-item
        -#       %a.nav-link{:href => "500.html"}
        -#         %i.icon.icon-umbrella
        -#         500
        -#     %li.nav-item
        -#       %a.nav-link{:href => "settings.html"}
        -#         %i.icon.icon-umbrella
        -#         Settings