%h1 Bienvenido a BabyBook!!
%p
  Por favor pulsa en este boton para confirmar tu alta en la aplicacion para activar tu cuenta
%p
  Recuerda que siempre puedes darte de baja accediendo a tu perfil y pulsando en "Darme de Baja".
%p
  Deseamos serte de utilidad. Gracias por usarnos!!