
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}
.my-btn-matrix{
  .btn-matrix>.btn {
    width: 33%; /* force buttons to have the same width regardless of content */
  }
  .btn-matrix>.btn:nth-child(3n + 4) {
    clear: left; /* force the button to start a new row of the matrix
                    (because .btn adds the `float: left;` property) */
    margin-left: 0; /* because .btn-group adds `margin-left: -1px;` to all buttons */
  }
  .btn-matrix>.btn:nth-child(n + 4) {
    margin-top: 9px; /* superimpose borders of the buttons from adjacent rows */
  }

  /* Fix border radius */
  .btn-matrix>.btn:first-child {
    border-bottom-left-radius: 8;
  }
  .btn-matrix>.btn:nth-child(3) {
    border-top-right-radius: 4px !important;
  }
  .btn-matrix>.btn:nth-last-child(3) {
    border-bottom-left-radius: 4px !important;
  }
  .btn-matrix>.btn:last-child {
    border-top-right-radius: 0;
  }

  /* Decorations */
  .btn-matrix {
    margin: 20px;
  }
}

.alert-message {
  margin-top: 20px;
  position: fixed;
  color: white;
  right: 10px;
  bottom: 10px;
  min-width: 500px;
}

.main-title {
  margin-top: 50%;
  align-self: center;
  font-family:"Lobster";
  font-style: bold;
  font-size: 350%;
}

.h5-main-title {
  padding-top: 5%;
  align-self: center;
  font-style: bold;
}

.table-title {
  color: rgb(116, 114, 114);
}

.my-table {
  border: none;
  border-spacing: 0;
  text-align: center;
  color: rgb(116, 114, 114);

  tr {
    &:first-child {
      background-color: transparent;
    }

    &:nth-child(2n) {
      background-color: transparent;
    }
  }

  td {
    border: solid black 1px;
  }

  a {
    color: green;
  }
}

table.menu {
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

.logo {
  width: 50px;
}

.my-margin-left1 {
  margin-left: -133px;
}

.overlay {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 40%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
@media (min-width: 576px) {
  .main-title {
    font-family:"Lobster";
    font-style: bold;
    font-size: 600%;
  }

  .h5-main-title {
    align-self: center;
    font-style: bold;
  }

  .card-welcome-page {
    border: transparent !important;
    text-align: center;
    color: green;
  }

  .h5-welcome-page {
    font-family: courier;
    font-size: 120%
  }
}

@media (max-width: 575.99px) {
  .content {
    margin-left: 10px !important;
  }
  .main-title {
    font-family:"Lobster";
    font-style: bold;
    font-size: 325%;
  }

  .h5-main-title {
    align-self: center;
    font-style: bold;
  }

  .card-welcome-page {
    border: transparent !important;
    text-align: center;
    color: green;
  }

  .h5-welcome-page {
    font-family: courier;
    font-size: 100%
  }

  .page-header .navbar-nav .dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0px !important;
  }
}